@{
    ViewBag.Title = "Tutorial - Knockout";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
    <p class="lead">How KO works and what benefits it brings.</p>
    <h4><b>@Html.ActionLink("1. Controlling text and appearance", "Tutorial_1", "Knockout")</b></h4>
    <h4><b>@Html.ActionLink("2. Control flow", "Tutorial_2", "Knockout")</b></h4>
    <h4><b>@Html.ActionLink("3. Working with form fields", "Tutorial_3", "Knockout")</b></h4>
    <h4><b>@Html.ActionLink("4. Rendering templates", "Tutorial_4", "Knockout")</b></h4>
    <h4><b>@Html.ActionLink("5. Binding syntax", "Tutorial_5", "Knockout")</b></h4>
    <h4><b>@Html.ActionLink("6. Creating custom bindings", "Tutorial_6", "Knockout")</b></h4>
    <h4><b>@Html.ActionLink("7. Components", "Tutorial_7", "Knockout")</b></h4>
    <h4><b>@Html.ActionLink("8. Further techniques", "Tutorial_8", "Knockout")</b></h4>
    <h4><b>@Html.ActionLink("9. Plugins", "Tutorial_9", "Knockout")</b></h4>
</div>




@*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@