@Model 
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h1>Employe Details</h1>
<tr>
    <td>
    Employe Id :
    </td>
    <td>
    @model.empId
    </td>
</tr>
<tr>
    <td>
        Employe First Name :
    </td>
    <td>
        @model.fName;
    </td>
</tr>
<tr>
    <td>
        Employe Last Name :
    </td>
    <td>
        @model.lName
    </td>
</tr>
<tr>
    <td>
        Employe City :
    </td>
    <td>
        @model.city
    </td>
</tr>
<tr>
    <td>
        Employe State :
    </td>
    <td>
        @model.state
    </td>
</tr>


